@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth ;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
:root {
  --primary-color: #f43f5e;
  --dark: #000000;
  --light: #f5f5f5;
  --secondary-color: #8b5cf6;
}



.animated {
  position: relative;
}
.animated:before {
  content: "";
  display: block;
  position: absolute;
}

.animated.inAndOut:before {
  height: 2px;
  width: 0;
  right: 0;
  bottom: -6px;
  background-color: var(--primary-color);
  transition: all ease-in-out 200ms;
}

.hero-height {
  height: calc(100vh - 88.84px);
}

.link:hover {
  color: var(--primary-color);
}

.animated.inAndOut:hover:before {
  left: 0;
  width: 100%;
}

.link {
  display: block;
  position: relative;
  font-size: 15px;
  color: var(--dark);
  font-weight: bold;
}

.nav-link:before,
.nav-link:after {
  content: "";
  height: 1px;
  background-color: var(--primary-color) !important;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  opacity: 0;
}
.nav-link:before {
  width: 90%;
  bottom: -50%;
  transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.nav-link:after {
  width: 70%;
  bottom: -80%;
  transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.nav-link:hover:before {
  opacity: 1;
  bottom: 0;
}
.nav-link:hover:after {
  opacity: 1;
  bottom: -10%;
}
.animate-link:before {
  content: "";
  width: 0;
  height: 2px;
  background-color: #ff470f;
  position: absolute;
  top: 100%;
  left: 0;
  transition: width 0.3s ease-in-out;
}
.animate-link:after {
  content: "→";
  position: relative;
  display: inline-block;
  margin-left: 5px;
  transform: rotate(-45deg);
  transition: margin 0.3s ease-in-out, transform 0.3s ease-in-out,
    color 0.3s ease-in-out;
}
.animate-link:hover:before {
  width: 100%;
  z-index: -1;
}
.animate-link:hover:after {
  color: #ff470f;
  margin-left: 15px;
  transform: rotate(0deg);
}


.links {
  display: block;
  position: relative;
  /* margin-inline: 25px; */
  font-size: 20px;
  color: var(--secondary-color);
  font-weight: bold;
}

.link:hover{
  color: var(--primary-color);
}


:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}
::before,
::after {
  position: absolute;
  content: "";
}

.btn {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  /* margin: 0px 25px 15px; */
  min-width: 150px;
  /* background-color: var(--secondary-color); */
}
.btn span {
  position: relative;
  display: inline-block;
  /* font-size: 14px; */
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  transition: 0.3s;
}

/*--- btn-1 ---*/
.btn-1::before {
  background-color: var(--primary-color);
  transition: 0.3s ease-out;
}
.btn-1 span {
  color: #000000;
  border: 1px solid var(--primary-color);
  transition: 0.2s 0.1s;
}
.btn-1 span:hover {
  color: var(--primary-color);
  transition: 0.2s 0.1s;
}

/* 4. hover-filled-slide-right */
.btn.hover-filled-slide-right::before {
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.btn.hover-filled-slide-right:hover::before {
  width: 0%;
}

/*--- btn-2 ---*/
.btn-2::before {
  background-color: var(--secondary-color);
  transition: 0.3s ease-out;
}
.btn-2 span {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  transition: 0.2s;
}
.btn-2 span:hover {
  color: var(--bg-color);
  transition: 0.2s 0.1s;
}

/* 9. hover-slide-right */
.btn.hover-slide-right::before {
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0%;
}
.btn.hover-slide-right:hover::before {
  width: 100%;
}


/* Icon button animation */

.btn-3::before {
  background-color: var(--secondary-color);
  transition: 0.3s ease-out;
}
.btn-3 span {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  transition: 0.2s;
}
.btn-3 span:hover {
  color: var(--bg-color);
  transition: 0.2s 0.1s;
}

/* 9. hover-slide-right */
.btn.hover-slide-anim::before {
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0%;
}
.btn.hover-slide-anim:hover::before {
  width: 100%;
}



 .m-6772fbd5 {
      position: relative;
      display: flex;
      justify-content: space-evenly;
  }